/* Estructura */
body {
  background: url(../img/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header{
	margin-top:13%;
}

.footer{
	background-color:#4b4b4b;
}


/* Textos */
.text-footer {
	color: white;
	font-weight:bold;
	}